.Register{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: -700px;
}
.RegisterForm{
    width:400px;
    background-image:url('../../img/pencil.png') ;
    height: 500px;
    border: 3px solid transparent;
    border-image:url("../../img/pencil.png") 10 round ;
    background-size: 400px 500px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.RegisterForm h1{
    margin-left: 30px;
    margin-bottom: 70px;
    color: white;
}
.RegisterForm input{
    border-image: url("../../img/pencil.png") 10 round;
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
}

.RegisterForm h3{
    margin: 5px;
}
.RegisterForm 
    button{
    margin-right: 5px;
    height: 30px;
    width: 70px;
    border-radius: 5%;
} 
 button:hover{
    box-shadow: 20px black;
    transform: scale(1.1);
}